* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

[data-template] {
    display: none!important;
}

.main_content {
    font-family: tahoma;
    /*background-image: url("../pictures/die_retry_background.jpg");*/
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr;
}

.loginDiv {
    display: grid;
    justify-content: center;
    text-align: center;
    background: rgb(182, 40, 40);
    color: white;
    margin: 150px auto;
    width: 80%;
}

.loginDiv > h2 {
    margin-top: 5vh;
}

.login_message {
    font-weight: bold;
    font-size: 22px;
    margin-top: 100px;
}

.loginForm {
    display: grid;
    justify-content: center;
    margin: 50px;
}

label {
    margin-top: 20px;
    margin-bottom: 10px;
}

.login_input {
    width: 200px;
    border-radius: 5px;
    padding: 0 10px;
    font-size: 18px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.login_submit {
    margin: 30px auto;
    width: 50%;
    border: 1px solid grey;
    padding: 5px 2px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

/* actions */
/* update, create forms */
.forms {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
}

.game_form {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
}

.field label {
    margin: 0;
}

.field {
    display: flex;
    align-items: center;
}

.date_form {
    display: flex;
}

.kinds_checkboxxes { 
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
}

.modal_global {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.modal_global .close_background {
    background-color: rgba(0, 0, 0, 0.65);
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.modal_global .modal_contents {
    position: relative;
    z-index: 2;
    padding: 10px 10px;
    margin: 0;
    max-width: 760px;
    max-height: 500px;
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgba(255,255,255);
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}


.modal_global .modal_header {
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}


/* delete */
.overlay {
    position: fixed;
    top: 0;
    left:0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.65);
}

.pop_up {
    position: fixed;
    top: 30%;
    left: 30%;
    background: white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    width: 40%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pop_up_text {
    position: absolute;
    top: 30%;
    left: 0;
    font-size: 20px;
    text-align: center;
}

.action_button {
    position: absolute;
    width: 25%;
    height: 10%;
    bottom: 20%;
    border: 1px solid grey;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.cancel_button {
    left: 15%;
    color: black;
}

.confirm_button {
    right: 15%;
    background: rgb(46, 84, 189);
    color: white;
}

.close_button {
    margin: 10px;
    padding: 0 5px;
    text-align: center;
    color: white;
    background: rgb(155, 1, 1);
    border: 1px solid rgb(139, 139, 139);
    border-radius: 5px;
    height: 30px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    align-self: center;
}

/* table_display */
.display {
    display: grid;
    width: 90%;
    margin: 0 auto;
}

.search_in_array {
    justify-self: center;
    padding: 5px 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.table_full {
    border-collapse: collapse;
    text-align: center;
}

.table_full * {
    word-break: break-word;
}

.table_full tr {
    display: grid;
    grid-template-columns: 1fr 1fr 8fr 5fr;
}

.table_full td,
.table_full th {
    border-right: 2px solid rgba(160, 135, 97, 0.3);
    min-height: 80px;
    align-items: center;
    display: grid;
    justify-content: center;
}

.table_header {
    width: 100%;
    border-top-left-radius: 10px;
    color: white;
}

.scrollbar_width_fixer {
    border-top-right-radius: 10px;
}

.scrollbar_width_fixer,
.table_header {
    background: rgb(126, 11, 11);
}

.table_head_plus_scrollbar_fixer {
    display: flex;
}

.div_to_scroll { /*toscrolltablebody*/
    height: 80vh;
    overflow-y: scroll;
    border-bottom-left-radius: 10px;
}
input[type="checkbox"] {
    width: 20px; /*Desired width*/
    height: 20px; /*Desired height*/
}
.table_body {
    background: rgb(243, 211, 211);
}

.table_body tr:nth-of-type(2n) {
    background: rgb(182, 40, 40);
    color: white;
}

.table_full .kinds {
    border-right: none;
}

.table_full .dates,
.table_full .developers,
.table_full .platforms,
.table_full .constructors,
.table_full .publishers,
.table_full .references {
    display: none;
}

footer > div {
    margin-top: 50px;
    width: 100%;
    height: 15vh;
    background: rgb(52, 61, 61);
    color: white;
    text-align: center;
}

@media screen and (min-width: 767px) {
    .pop_up_text {
        font-size: 30px;
    }
    .table_full .dates,
    .table_full .developers,
    .table_full .platforms,
    .table_full .constructors,
    .table_full .publishers,
    .table_full .references {
        display: table-cell;
        align-items: center;
        display: grid;
        justify-content: center;
    }

    .table_full .kinds {
        border-right: 2px solid rgba(160, 135, 97, 0.3);
    }
    
    .table_full th:last-of-type, .table_full td:last-of-type {
        border-right: none;
    }

    .table_full tr {
        grid-template-columns: 1fr 1fr 5fr 3fr 2fr 2fr 2fr 2fr 2fr 2fr;
    }
    
    .forms {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 935px) {
    .forms {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 1300px) {
    .pop_up_text {
        font-size: 40px;
    }
    .kinds_checkboxxes {
        grid-template-columns: 1fr 1fr 1fr;
    }
}